@model SweetSavory.Models.Treat

@{
  Layout = "_Layout";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
}
<hr />
<h4>@Html.DisplayNameFor(model => model.Price): $@Html.DisplayFor(model => model.Price)</h4>

<h4>Flavors: </h4>
<ul>
    @foreach (var join in Model.Flavors)
    {
        <li>@join.Flavor.Name</li>
    }
</ul>

<p>@Html.ActionLink("← Back to Treats", "Index")</p>
<p>@Html.ActionLink("◄ Home", "Index")</p>