@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Recipe Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>



  <h4>Tags: </h4>
  <ul>
  @foreach (var join in Model.Tags)
  {
      <li>@join.Tag.Name</li>

      @using (Html.BeginForm("DeleteTag", "Recipes"))
      {
        @Html.Hidden("joinId", @join.TagRecipeId)
        <input type="submit" value="Delete"/>
      }

  }
  </ul>


<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>
<a class="btn btn-outline-info" href="/">Home</a>  