@model SweetSavory.Models.Flavor

@{
  Layout = "_Layout";
}

<h1>@Model.Name</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
}
<hr />
<h4>Treats That Are @Model.Name: </h4>
@if (Model.Treats.Any())
{
    <ul>
        @foreach (var join in Model.Treats)
        {
            <li>@Html.ActionLink($"{@join.Treat.Name} - ${@join.Treat.Price}", "Details", "Treats", new { id = join.Treat.TreatId })</li>
        }
    </ul>
}
else
{
    <p>No treats in this flavor yet!</p>
}

<p>@Html.ActionLink("← Back to Flavors", "Index")</p>
<p>@Html.ActionLink("◄ Home", "Index", "Home")</p>