@model SweetSavory.Models.Flavor

@{
  Layout = "_Layout";
}

<h4>Edit Flavor</h4>

<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Save" class="btn btn-outline-success"/>
}

<p>@Html.ActionLink("Cancel", "Index")</p>    
<a class="btn btn-outline-info" href="/">Home</a>                                            